@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Circular;
  src: url("/assets/fonts/CircularStd-Bold.otf");
}

@font-face {
  font-family: CircularParagraph;
  src: url("/assets//fonts//CircularStd-Light.otf");
}

.card {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.124);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

h1 {
  font-family: Circular;
}

p {
  font-family: CircularParagraph;
}

body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --accent: var(--black);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  /* color: var(--accent); */
}

.example-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}
